<div class="row">
    <div class="col-md-8">
		<article class="blog-post">
		    <h1 class="blog-post-title"><%= @news.title %></h1>
		    <p class="blog-post-meta">Author: <%= @news.user.name %></p>

		    <p> <%= @news.body %> </p>
		    <hr>
		</article>
	</div>
</div>

<%= display_news_show_links(@news) %>
