<div class="row">
    <div class="col-md-8">
		<article class="blog-post">
		    <h1 class="blog-post-title"><%= @post.title %></h1>
		    <p class="blog-post-meta">Author: <%= @post.user.name %></p>

		    <p> <%= @post.body %> </p>
		    <hr>
		</article>
	</div>
</div>

<%= display_post_show_links(@post) %>

